main {
  display: flex;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  p-card {
    max-height: 40em;

    .filter-div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2rem;

      div {
        h4 {
          margin-block-start: 0;
        }
      }
    }
  }
}
