<main>
  <app-navbar></app-navbar>
  <div class="content">
    <p-card header="Filters">
      <div class="filter-div">
        <div [formGroup]="form" class="filter-div">
          <p-calendar
            [style]="{ width: '200px' }"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            [readonlyInput]="true"
            placeholder="Start date"
            formControlName="startDate"
            [maxDate]="maxDate"
            (onSelect)="updateFlow()"
          ></p-calendar>

          <p-calendar
            [style]="{ width: '200px' }"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            [readonlyInput]="true"
            placeholder="Final date"
            formControlName="endDate"
            [maxDate]="maxDate"
            (onSelect)="updateFlow()"
          ></p-calendar>

          <div [formGroup]="form">
            <h4>Analysis</h4>
            <p-dropdown
              [style]="{ width: '100%' }"
              [options]="analysis"
              placeholder="Select the analysis"
              formControlName="analysis"
            ></p-dropdown>
          </div>

          <div>
            <h4>Detail level: {{ detailLevel }}</h4>
            <p-slider
              [style]="{ width: '200px' }"
              formControlName="detailLevel"
              [max]="5"
              [step]="1"
              [(ngModel)]="detailLevel"
              (onSlideEnd)="updateFlow()"
            ></p-slider>
          </div>
        </div>

        <div>
          <h4>Mode</h4>
          <p-selectButton
            [options]="[
              { label: 'Performance', value: 'performance' },
              { label: 'Frequency', value: 'frequency' }
            ]"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="mode"
            (onOptionClick)="changeMode(mode)"
          ></p-selectButton>
        </div>
      </div>
    </p-card>
    <div>
      <p-accordion>
        <p-accordionTab header="Overview">
          <div class="filter-statistics">
            <div class="overview-item">
              <i class="material-icons">cases</i>
              Cases: {{ statistics.cases }}
            </div>
            <div class="overview-item"> 
              <i class="material-icons">hourglass_full</i>
               Case duration: {{ statistics.averageCaseDuration }} 
            </div>
            <div class="overview-item">
              <i class="material-icons">work</i>
              Activities: {{ statistics.activities }}
            </div>
            <div class="overview-item">
              <i class="material-icons">hourglass_full</i>
              Activity duration: {{ statistics.averageActivityDuration }}
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
    <app-flow 
      [graphSource]="graphSource"
      style="flex:1"
    ></app-flow>
    <app-footer></app-footer>
  </div>
</main>
