<main>
  <app-navbar></app-navbar>
  <div class="content">
    <p-card header="Filters">
      <div class="filter-div">
        <div [formGroup]="form" class="filter-div">
          <p-calendar
            [style]="{ width: '200px' }"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            [readonlyInput]="true"
            placeholder="Start date"
            formControlName="startDate"
          ></p-calendar>

          <p-calendar
            [style]="{ width: '200px' }"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            [readonlyInput]="true"
            placeholder="Final date"
            formControlName="endDate"
          ></p-calendar>

          <div>
            <h4>Detail level: {{ detailLevel }}</h4>
            <p-slider
              [style]="{ width: '200px' }"
              formControlName="detailLevel"
              [max]="5"
              [step]="1"
              [(ngModel)]="detailLevel"
            ></p-slider>
          </div>
        </div>

        <div>
          <h4>Mode</h4>
          <p-selectButton
            [options]="[
              { label: 'Performance', value: 'performance' },
              { label: 'Frequency', value: 'frequency' }
            ]"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="mode"
            (onOptionClick)="changeMode(mode)"
          ></p-selectButton>
        </div>
      </div>
    </p-card>
    <app-flow [graphSource]="graphSource"></app-flow>
    <app-footer></app-footer>
  </div>
</main>
