main {
  display: flex;
  @media screen and (max-width: 800px) {
    margin-top: 1.5rem;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  p-card {
    max-height: 40em;

    .filter-div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2rem;
      min-width: 300px;

      div {
        h4 {
          margin-block-start: 0;
          margin-block-end: 0.5rem;
        }
      }
    }
  }
}

app-navbar {
  @media screen and (max-width: 800px) {
    position: absolute;
  }
}
