p-card {
  max-height: 40em;

  .image-container {
    max-height: 35em;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: grab;
    user-select: none;
  }

  .image-container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
::ng-deep .container .p-card,
::ng-deep .container .p-card > div,
::ng-deep .container .p-card > div > div {
  height: 100%;
}