main {
  display: flex;
  height: 100vh;

  [fluxo] {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    @media screen and (min-width: 800px) {
      margin: 1.5rem auto;
      width: 80%;
    }

    header {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      [timeDiv] {
        display: flex;
        justify-content: center;
        gap: 2rem;

        h2 {
          text-align: end;
        }
      }

      @media screen and (max-width: 1300px) {
        font-size: 0.8rem;
      }
    }

    p-card {
      max-height: 40em;

      [pButton] {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}

app-navbar {
  @media screen and (max-width: 800px) {
    position: absolute;
  }
}
