<main>
  <nav navbar>
    <div class="header">
      <a title href="/">Dashboard</a>
      <hr />
    </div>
    <a href="/">Fluxo de dados</a>
    <a href="/filter">Filtragem</a>
  </nav>

  <div fluxo>
    <header>
      <h1>Fluxo de dados | Licitações</h1>
      <h2>Dados atualizados em {{ dataDate | date: "dd/MM/yyyy, h:mm" }}</h2>
    </header>

    <p-card>
      <div class="image-container" [innerHTML]="graphSource" #graph></div>
      <button
        pButton
        type="button"
        label="Download"
        (click)="download()"
      ></button>
    </p-card>

    <footer>
      <a href="https://github.com/teOrienta/2022-Huawei-cloud">
        <i class="pi pi-github" style="font-size: 3rem"></i>
      </a>
    </footer>
  </div>
</main>
