main {
  display: flex;
  height: 100vh;

  [fluxo] {
    min-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 1.5rem auto;

    header {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      [timeDiv] {
        display: flex;
        justify-content: center;
        gap: 2rem;

        h2 {
          text-align: end;
        }
      }

      @media screen and (max-width: 1300px) {
        font-size: 0.8rem;
      }
    }

    p-card {
      max-height: 40em;

      [pButton] {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}
