<main>
  <app-navbar></app-navbar>
  <div fluxo>
    <header>
      <h1>Data flow | public auctions</h1>
      <div timeDiv>
        <h2>Data updated at {{ dataDate | date: "dd/MM/yyyy, h:mm" }}</h2>

        <button
          pButton
          [icon]="isPaused ? 'pi pi-play' : 'pi pi-pause'"
          type="button"
          class="p-button-sm p-button-rounded"
          (click)="updateData()"
        ></button>
      </div>
    </header>

    <p-card>
      <app-flow [graphSource]="graphSource"></app-flow>
      <button
        pButton
        type="button"
        label="Download"
        (click)="download()"
      ></button>
    </p-card>

    <app-footer></app-footer>
  </div>
</main>
