[navbar] {
  height: 100vh;
  width: 225px;
  display: flex;
  flex-direction: column;
  background-color: #0058b5;
  gap: 1rem;
  text-align: center;

  .routes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    :hover {
      background-color: #0079fa;
    }
  }

  a {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }

  [logoDiv] {
    img {
      height: 10rem;
      width: 10rem;
      margin-top: 1rem;
      padding: 1rem;
    }
  }
}
