<nav navbar *ngIf="mediaQuery; else navMenu">
  <div logoDiv>
    <a href="/">
      <img src="../../../../assets/despro_logo2.png" alt="logo-icon" />
    </a>
  </div>
  <div class="routes">
    <a href="/" [style]="url == '/' ? borderSelected : ''">Data flow</a>
    <a href="/filter" [style]="url == '/filter' ? borderSelected : ''"
      >Filtering</a
    >
  </div>
</nav>

<ng-template #navMenu>
  <button
    type="button"
    pButton
    icon="pi pi-bars"
    label="Menu"
    (click)="menu.toggle($event)"
  ></button>
  <p-menu #menu [popup]="true" [model]="items"></p-menu>
</ng-template>
